extends layout

block content
  h1= title
  p Welcome to #{title}

  canvas(id="outputCamera")
  canvas(id="outputImg")

  video(id="video", playsinline)
  div(id="info")

  button(id="exampleButton") Change Instructor

  script(src="/javascripts/camera.js", type="module")
  script(id="armsOut",src="/javascripts/instructors/instructorArmsOut.js",type="module") 
  //- script(id="armsBySide",src="/javascripts/instructors/instructorArmsBySide.js", type="module") 

  //- UNCOMMENT TO SHOW AN EXAMPLE IMAGE
  //- image(id="image", src="/images/ryan.jpg", type="image")
  //- script(src="/javascripts/image.js", type="module")
