* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

video,
canvas {
  display: block;
  margin: 15px;
  /* border: 2px solid red; */
}

#image {
  width: 480px;
  height: 853px;
  margin: 15px;
  /* object-fit: scale-down; */
  /* border: 2px solid red; */
}

#video {
  /* WIDTH, HEIGHT NOT WORKING?? */
  /* width: 480px; */
  /* height: 853px; */
  display: none;
  background-color: #666;
  /* border: 2px solid green; */
}

#phone {
  position: relative;
  margin: 30px auto;
  width: 490px;
  height: 1000px;
  border-radius: 80px / 40px;
  border-top: 3px solid #222;
  background: #6d6d6b;
  background: linear-gradient(
    to right,
    #6d6d6b 0%,
    #3b3b3c 1%,
    #979797 3%,
    #686868 4%,
    #2e2e2e 100%
  );
}

#phone:before {
  position: absolute;
  content: "";
  z-index: -1;
  top: -10px;
  left: 0px;
  background: #babbbb;
  width: 490px;
  height: 78px;
  border-radius: 80px / 40px;
  border-top: 1px solid #444;
}

#phone:after {
  position: absolute;
  content: "";
  z-index: -1;
  bottom: -8px;
  left: 0px;
  background: #babbbb;
  width: 490px;
  height: 78px;
  border-radius: 80px / 40px;
  border-bottom: 2px solid #555;
}

#output {
  display: none;
  width: 480px;
  height: 853px;
  margin: 75px auto;
  border-radius: 5px;
  border: 2px solid #6d6d6b;
}

#message {
  display: none;
  font-size: 20px;
  color: MidnightBlue;
  text-align: center;
  width: 475px;
  height: max-content;
  max-height: 100px;
  position: absolute;
  top: 120px;
  left: 7.5px;
  background-color: rgba(240, 128, 128, 0.4);
  padding: 10px;
  border-radius: 5px;
}

#info {
  display: none;
  font-size: 20px;
  text-align: center;
  align-items: center;
  max-width: 480px;
  height: 853px;
  margin: 75px auto;
  padding: 10px;
  background: SeaShell;
  border-radius: 5px;
}
