* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

video, canvas {
  display: block;
  margin: 15px;
  transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
  /* border: 2px solid red; */
}

#header {
  border: 5cm;
}

#image, #output {
  /* width: 384px; */
  /* height: 512px; */
  width: 600px;
  height: 500px;
  margin: 15px;
  /* object-fit: scale-down; */
  /* border: 2px solid red; */
}

#video {
  /* WIDTH, HEIGHT NOT WORKING?? */
  /* width: 600; */
  /* height: 500; */
  background-color: #666;
  display:none !important;
  transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* For Safari and Chrome */
    -moz-transform:rotateY(180deg); /* For Firefox */
  /* border: 2px solid green; */
} 

#info {
  display: none;
}

